config {
    pattern "%{iso8601}d [%t] %l %n - %m",
    appenders {
        console "info" {
            colours = {
                forLevels =
                {
                    ERROR = { foreground = "red" },
                    WARN  = { foreground = "yellow" },
                    INFO  = { foreground = "green" },
                    DEBUG = { format = "faint", foreground = "gray" },
                    TRACE = { format = "faint", foreground = "gray" }
                }
            }
        },
        file "log" {
            pattern = "%d %l %n - %m",
            maxLevel = ERROR,
            logFilePath = "/tmp/lua/logs/app.log",
            createMissingDirectories = true
        }
    }
}
