config {
    pattern "%{iso8601}d [%t] %l %n - %m",
    appenders {
        console "out" {
            stream = "stdout",
            colours = {
                foreground = "green"
            }
        },
        file "log" {
            logFilePath = "/tmp/lua/logs/app.log",
            createMissingDirectories = true
        }
    }
}
