local faintGray = { format = "faint", foreground = "gray" }

config {
    appenders {
        console "stdout" {
            colours = {
                forLevels = {
                    ERROR = { foreground = "red" },
                    WARN  = { foreground = "yellow" },
                    INFO  = { foreground = "green" },
                    DEBUG = faintGray,
                    TRACE = faintGray
                }
            }
        }
    }
}
