config {
    appenders {
        console "errors-only" {
            level = ERROR
        },
        console "debugs-and-traces" {
            minLevel = DEBUG
        },
        console "warnings-and-errors" {
            maxLevel = WARN
        },
        console "warnings-infos-and-debugs" {
            minLevel = WARN
            maxLevel = DEBUG
        },
        console "errors-and-infos" {
            filter = function(level)
                return level == ERROR or level == INFO
            end
        }
    }
}
