config {
    appenders {
        rollingFile "log-file" {
            logFilePath = "/tmp/app.log",
            rollover = {
                -- rollover at 10MB and keep at most 5 ZIP backup files
                maxFileSizeInKb = 10000,
                maxBackupFiles = 5,
                backupFileFormat = "zip"
            }
        }
    }
}
